body{
    margin: 0 auto;
    background-color: gainsboro;
}
.container{
  width:1000px;
  margin:auto;
  height: auto;
  background-color:white;
}

.logo{

float: left;
padding:15px;
}

.search{
    float:right;
    padding:15px;
}
.clearflx{
    clear:both;
}
.main-menu{
    background-color:teal ;
}
.main-menu>ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
}
.main-menu>ul>li{
    display: inline-block;
}
.main-menu>ul>li>a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
    font-size: smaller;
}
.main-menu>ul>li>a:hover{
    background-color: orange;
}

.drop{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position:absolute;
    display: none;
    z-index: 999;
}
.drop>li>a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
    font-size: smaller;
    background-color: black;
}
.drop>li>a:hover{
    background-color: orange;
}
.main-menu>ul>li:hover .drop{
    display: block;
}
.banner{
    width:1000px;
    height: 567px;
    overflow: auto;
}
.banner>img{
    width:100%;
    height:auto;
}

.content-holder{
    background-color: royalblue;
}
.content{
    width: 700px;
    height: auto;
    padding: 25px;
    background-color: white;
    float: left;
}

.content h1{
    font-size: 1.5em;
    font-family: sans-serif;

}
.content p{
font-family: sans-serif;
font-size: small;
}

.side-bar{
    float: left;
    padding:25px;
}
.side-bar h3{
    font-family: sans-serif;
    color: white;
}
.side-bar ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
}
.side-bar ul li a{
    display: block;
    margin-bottom: 5px;
    color: white;
    font-family: serif;
    font-style: italic;
    text-decoration: none;
}
.main-footer{
    background-color: black;
    color: white;
    width: 950px;
    padding: 25px;

}
.footer-box{
    width:237.5px;
    height:auto;
    float:left;
    font-family: sans-serif;

}
.footer-box ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
}
.footer-box ul li a{
    display: block;
    font-size: small;
    margin-bottom: 5px;
    color:white;
    text-decoration: none;
}
address{
    font-size: small;
}
.footer-box address a{
    color:teal;
    font-size: small;
}
.copy{
    font-family: sans-serif;
    padding: 25px;
    text-align: center;
    background-color: crimson;
    color:white;
}
.copy p{
    margin:0px;
}